<%= render 'layouts/pagetitle' %>
<%= render 'layouts/topbar' %>

<div class="container">
  <div class="col-sm-12 col-lg-6">
      <div>
          <p> New User?</p>
          <p>By creating an account with us, you will be able to move through the checkout process faster, view and track your orders, and more.</p><br>
          <a href="#" ><%= link_to 'Sign Up', new_user_registration_path %></a><br/><br/>
      </div>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' } ) do |f| %>
  <div class="col-sm-12 col-lg-6">
    <div>
      <p class="welcome">Registered Users</p>

        <div class="row">
          <div class="col-sm-12">
            <%= f.input :email, required: false, autofocus: true , type: 'text', placeholder:'username' %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.input :password, required: false, type: 'text', placeholder: 'password' %>
          </div>
        </div>
      <div>
        <div class='row'>
          <div class='col-sm-6'>
            <%= f.button :submit, "Log in" %>
          </div>
          <div class='col-sm-6'>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <%= link_to 'Forgot your password?', new_user_password_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= render 'layouts/footer' %>
