<div class='row uncollapse'>

  <div class='columns small-12 large-5'>
    <div class='panel callout radius'>
      <div class='row collapse'>
        <span>Header</span>
        <span><%= current_user.email %></span>
      </div>
      <div class='row collapse'>
        <span>Header</span>
        <span><%= current_user.email %></span>
      </div>
      <div class='row collapse'>
        <span>Header</span>
        <span><%= current_user.email %></span>
      </div>
      <div class='row collapse'>
        <span>Header</span>
        <span><%= current_user.email %></span>
      </div>
    </div>
  </div>

  <div class='columns small-12 large-5'>
    <div class='panel callout radius'>
      <div class='row collapse'>
        <span>Header</span>
        <span><%= current_user.email %></span>
      </div>
      <div class='row collapse'>
        <span>Header</span>
        <span><%= current_user.email %></span>
      </div>
      <div class='row collapse'>
        <span>Header</span>
        <span><%= current_user.email %></span>
      </div>
      <div class='row collapse'>
        <span>Header</span>
        <span><%= current_user.email %></span>
      </div>
    </div>
  </div>

</div>