<%= render 'layouts/topbar' %>

<%= render 'layouts/banner' %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <%= render 'layouts/filters' %>
      </div>

      <div class="col-sm-9 padding-right">
        <div class="features_items">
          <h2 class="title text-center">Transportistas Filtrados</h2>

          <%= paginate @users %>

          <%= @users.each do |user| %>
            <div class="col-sm-4">
              <div class="product-image-wrapper">
                <div class="single-products">
                  <div class="productinfo text-center">
                    <img src=<%= asset_path ('carriers/example.jpg') %> alt="" />
                    <strong><%= name(user) %></strong>
                    <p><%= user.email %></p>
                  </div>
                  <div class="product-overlay">
                    <div class="overlay-content">
                      <p><%= user.name %></p>
                      <p><%= user.first_surname %></p>
                      <p><%= user.second_surname %></p>
                      <p><%= user.mobile_phone %></p>
                      <%= link_to 'More info...', user_path(user.id), class: 'btn btn-default add-to-cart' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <%= paginate @users %>

        </div>

      </div>
    </div>
  </div>
</section>

<%= render 'layouts/footer' %>
