<%= render 'layouts/topbar' %>

<div class="row">
  <div class="large-12 columns">

    <div class="row">

      <div class="columns small-12 large-4">
        <div>
          <img src= <%= asset_path 'logo1.png' %> >
        </div>
        <br/>

        <div class="hide-for-small panel">
          <h3>Welcome!</h3>
          <h5 class="subheader">
            <%= "Hi #{current_user.email}, enjoy this awesome app, we expect that you can find usefull this application, also we want to hear about what do you think we can improve. So, let us know!!"%>
            <%= mail_to 'movinghomecr@gmail.com'%>
          </h5>
        </div>

        <%= link_to requests_path do%>
          <div class="panel callout radius">
            <h6><%= "Posee #{current_user.request.count} solicitudes activas."  %></h6>
          </div>
        <% end %>

      </div>

      <div class="large-8 columns">

        <div class="row center">
          <div class="large-12 columns">
            <ul>
              <li class="search-field" id='searcher'>
                <form>
                  <div class="row collapse">
                    <div class="small-12 columns">
                      <input type="text" class="dream-search" placeholder="Search">
                    </div>
                  </div>
                </form>
              </li>
            </ul>
          </div>
        </div>

        <div class="row">

          <div class='row collapse'>
            <%= paginate @users %>
          </div>

          <%= @users.map.each do |user| %>
            <div class="columns small-6 large-4">

              <%= link_to user, class: 'button', id: 'profile' do %>
                <%= image_tag('logo.png') %>
                <hr/>
                <div class='header row'>
                  <%= user.email %>
                </div>
                <div class='subheader row'>
                  <%= "Provincia Canton"  %>
                </div>
              <% end %>

            </div>
          <% end %>

          <div class='row collapse'>
            <%= paginate @users %>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>

<%= render 'layouts/footer' %>
