<%= render 'layouts/pagetitle' %>

<%= render 'layouts/topbar' %>

<%= render 'layouts/banner' %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <%= render 'layouts/filters' %>
      </div>
      
      <div class="col-sm-9 padding-right">
        <div class="features_items"><!--features_items-->
          <h2 class="title text-center">Transportistas Filtrados</h2>

          <%= paginate @users %>

          <%= @users.each do |user| %>
            <div class="col-sm-4">
              <div class="product-image-wrapper">
                <div class="single-products">
                  <div class="productinfo text-center">
                    <img src=<%= asset_path ('carriers/example.jpg') %> alt="" />
                    <h2><%= user.id %></h2>
                    <p><%= user.email %></p>
                  </div>
                  <div class="product-overlay">
                    <div class="overlay-content">
                      <h2>Detalles</h2>
                      <p>Provincia</p>
                      <p>Canton</p>
                      <p>Distrito</p>
                      <%= link_to 'More info...', user_path(user.id), class: 'btn btn-default add-to-cart' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <%= paginate @users %>
          
        </div><!--features_items-->
        
      </div>
    </div>
  </div>
</section>

<%= render 'layouts/footer' %>