<%= render 'layouts/topbar' %>

<div class='container'><%= link_to 'Nueva solicitud', new_request_path , class: 'btn btn-success' %></div>

<div class='container'>
  <div class=''>
    <span><h3>Solicitudes Publicadas Activas</h3></span>
  </div>
  <table class='table'>
    <tr>
      <th>Día de Carga</th>
      <th>Hora de Carga</th>
      <th>Dirección de Carga</th>
      <th>Día de Entrega</th>
      <th>Hora de Entrega</th>
      <th>Dirección de Entrega</th>
      <th>Presupuesto</th>
      <th>Tiempo Restante</th>
      <th>Opciones</th>
    </tr>
    <%= @requests.map.each do |request|%>
      <tr>
      <td><%= request.pick_date.strftime('%A %d %B %Y')  %></td>
      <td><%= request.pick_date.strftime('%l %M %p') %></td>
      <td><%= request.departure_direction  %></td>
      <td><%= request.deliver_date.strftime('%A %d %B %Y') %></td>
      <td><%= request.deliver_date.strftime('%l %M %p') %></td>
      <td><%= request.arrival_direction  %></td>
      <td><%= request.budget  %></td>
      <td><a>12:33:15</a></td>
      <td><a>Inactivar</a></td>
    </tr>
  <% end %>
  </table>
</div>

<div class='container'>
  <div class=''>
    <span><h3>Solicitudes Procesadas</h3></span>
  </div>
  <table class='table'>
    <tr>
      <th>Día de Carga</th>
      <th>Hora de Carga</th>
      <th>Dirección de Carga</th>
      <th>Día de Entrega</th>
      <th>Hora de Entrega</th>
      <th>Dirección de Entrega</th>
      <th>Presupuesto</th>
      <th>Tiempo Restante</th>
      <th>Opciones</th>
    </tr>
    <%= @requests.map.each do |request|%>
      <tr>
      <td><%= request.pick_date.strftime('%A %d %B %Y')  %></td>
      <td><%= request.pick_date.strftime('%l %M %p') %></td>
      <td><%= request.departure_direction  %></td>
      <td><%= request.deliver_date.strftime('%A %d %B %Y') %></td>
      <td><%= request.deliver_date.strftime('%l %M %p') %></td>
      <td><%= request.arrival_direction  %></td>
      <td><%= request.budget  %></td>
      <td><a>Procesada</a></td>
      <td><%= link_to 'Ver Detalles', request_path(request.id) %></td>
    </tr>
  <% end %>
  </table>
</div>

<div class='container'>
  <div class=''>
    <span><h3>Solicitudes Inactivadas</h3></span>
  </div>
  <table class='table'>
    <tr>
      <th>Día de Carga</th>
      <th>Hora de Carga</th>
      <th>Dirección de Carga</th>
      <th>Día de Entrega</th>
      <th>Hora de Entrega</th>
      <th>Dirección de Entrega</th>
      <th>Presupuesto</th>
      <th>Tiempo Restante</th>
      <th colspan='3'>Opciones</th>
    </tr>
    <%= @requests.map.each do |request|%>
      <tr>
      <td><%= request.pick_date.strftime('%A %d %B %Y')  %></td>
      <td><%= request.pick_date.strftime('%l %M %p') %></td>
      <td><%= request.departure_direction  %></td>
      <td><%= request.deliver_date.strftime('%A %d %B %Y') %></td>
      <td><%= request.deliver_date.strftime('%l %M %p') %></td>
      <td><%= request.arrival_direction  %></td>
      <td><%= request.budget  %></td>
      <td><a>00:00:00</a></td>
      <td><a>Publicar</a></td>
      <td><a>Actualizar</a></td>
      <td><a>Eliminar</a></td>
    </tr>
  <% end %>
  </table>
</div>

<%= render 'layouts/footer'  %>
