<%= render 'layouts/topbar' %>

<div class='container panel panel-default'>
  <div class='panel-title'>
    <h1>Crear una nueva solicitud</h1>
  </div>

  <div class='panel-body'>
    <%= simple_form_for @request, html: { class: 'form-horizontal' } do |f| %>
      <div class='row'>

        <div class='col-lg-8'>
          <%= f.input :pick_date, as: :datetime, class: 'form-inline' %>
        </div>

        <div class='col-lg-8'>
          <%= f.input :departure_direction %>
        </div>

      </div>

      <div class='row'>

        <div class='col-lg-8'>
          <%= f.input :deliver_date , as: :datetime, class: 'form-inline' %>
        </div>

        <div class='col-lg-8'>
          <%= f.input :arrival_direction %>
        </div>
      </div>

      <div class='row'>

        <div class='col-lg-8'>
          <%= f.input :budget , as: :integer %>
        </div>
      </div>

      <div>
        <%= f.submit 'Crear solicitud' , class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'layouts/footer' %>
