    <nav class="top-bar" data-topbar>
      <ul class="title-area">

        <li class="name">
          <h1>
            <%= link_to 'Transporticos', root_path  %>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>

      <section class="top-bar-section">

        <ul class="right">
          <li class="divider"></li>
          <li><a href="#"><%= link_to 'Nueva solicitud', new_request_path %></a></li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Configuracion</a>
            <ul class="dropdown">
              <li><a href="#">Notificaciones</a></li>
              <li><%= link_to 'Perfil', user_path( current_user.id )  %></li>
              <li><%= link_to 'Ser un transportista', edit_user_path( current_user.id ) %></li>
              <li class="divider"></li>
              <li><a href="#"><%= link_to 'Salir', destroy_user_session_path, method: :delete %></a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
<br/>
