<header id="header">

  <div class="header-middle"><!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo pull-left">
            <a href="index.html"><img src=<%= asset_path ('shared/logo.png') %> alt="" /></a>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="shop-menu pull-right">
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                <li><%= "Bienvenido #{ current_user.email }!" %><%= link_to 'Salir' ,  destroy_user_session_path, method: :delete  %></li>
            <% else %>
                <li><%= link_to 'Entrar' ,  new_user_session_path %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-middle-->

  <div class="header-bottom"><!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li><%= link_to 'Inicio', root_path %></li>
              <% if user_signed_in? %>
                <li><%= link_to 'Perfil', user_path(current_user.id) %></li>
              <% if current_user.requests.count.zero? %>
                <li><%= link_to 'Mis solicitudes', requests_path %></li>
            <% else %>
                <li>
              <%= link_to requests_path do %>
                Mis solicitudes <span class="badge"><%= current_user.requests.count %></span>
            <% end %>
              </li>
            <% end %>

              <% if current_user.notifications.count.zero? %>
                <li><%= link_to 'Notificaciones', notifications_path %></li>
            <% else %>
                <li>
              <%= link_to requests_path do %>
                Notificaciones <span class="badge"><%= current_user.notifications.count %></span>
            <% end %>
              </li>
            <% end %>
            <% end %>
              <% if current_user %>
                <li><%= link_to 'Solicitudes de Transporte' %></li>
              <li><%= link_to 'Perfil Profesional' %></li>
            <% end %>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </div><!--/header-bottom-->
</header><!--/header-->
