<%= render 'layouts/pagetitle' %>

<div class="row center">

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="large-6 columns right">
   <div class="signup-panel">
    <p class="welcome"> Welcome to this awesome app!</p>

      <%= f.error_notification %>

      <div class="row collapse">
       <div class="small-10  columns">
        <%= f.input :email, required: true, autofocus: true, type: 'text', placeholder: 'email' %>
       </div>
      </div>
      <div class="row collapse">
       <div class="small-10  columns">
        <%= f.input :password, required: true, type: 'text', placeholder:'password', hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
       </div>
      </div>
      <div class="row collapse">
       <div class="small-10 columns ">
        <%= f.input :password_confirmation, required: true, type: 'text', placeholder:'password confirmation' %>
       </div>
      </div>
      <a href="#"><%= f.button :submit, "Sign up!" , class: 'button' %></a>
    <p>Already have an account? <a href="#"><%= render "users/shared/links" %></a></p>
   </div>
  </div>
  <% end %>
</div>

<%= render 'layouts/footer' %>
